@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-muted: hsl(0, 0%, 90%);
  --footer-color: #e2e2e2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-muted: hsl(0, 0%, 15%);
    --footer-color:#0E0E0E;

  }
} */

/* Dark system preference fallback */
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg-rgb: 10 10 10;
    --color-text-rgb: 237 237 237;
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-muted: hsl(0, 0%, 15%);
    --footer-color: #0e0e0e;
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@font-face {
  font-family: logo;
  src: url("../public/Ubuntu_Mono/UbuntuMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: logo-Italic;
  src: url("../public/Ubuntu_Mono/UbuntuMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: logo-bold;
  src: url("../public/Ubuntu_Mono/UbuntuMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Merriweather;
  src: url("../public/Merriweather/static/Merriweather_24pt-Regular.ttf");
}

/* *{
  font-family: logo;
} */

/* h1, h2, h3, h4, h5, h6, span, p, div {
  font-family: Merriweather;
} */

.mer {
  font-family: Merriweather;
}

a {
  font-family: logo;
}

.cooking {
  font-family: monospace !important;
}

.monospace {
  font-family: monospace !important;
}

code {
  padding: 0 !important;
}

.height-cooking-something {
  height: calc(100svh - (2 * (var(--spacing) * 10)) - 3rem);
}

/* @layer base {
  * {
      @apply transition-all duration-300;
  }
} */

/* globals.css */
/* html, body { */
/* overflow-x: hidden;    */
/* hide tiny horizontal overflow */
/* } */
